<link rel="stylesheet" type="text/css" href="stylesheet/home.css">

<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <!-- <figure id="logo" class="col-md-4 col-sm-3" data-hook> -->
          <%#= link_to (image_tag 'pokemon-go-logo.png'), '/' %>
        <!-- </figure> -->
        <%#= render :partial => 'spree/shared/nav_bar' %>
        <div class="col-md-12">
          <h1 class="serve-text">Which Bird<br>Do You Serve?</h1>
        </div>
        
      </div>
    </div>
  </header>
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>