<%# content_for :sidebar do %>
  <!-- <div data-hook="homepage_sidebar_navigation"> -->
    <%#= render :partial => 'spree/shared/taxonomies' %>
  <!-- </div> -->
<%# end %>

<link href='https://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet' type='text/css'>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <% end %>
</div>